__pycache__/
*.pyc
.DS_Store
.vscode/
# ====================================================================
# 强化学习与深度学习专属忽略规则（新增）
# ====================================================================

# 1. 忽略 TensorBoard 运行日志文件夹
*tensorboard/
*.runs/
wandb/

# 2. 忽略训练出来的满级大脑（模型权重与大文件）
*.pth
*.ckpt
*.pkl
*.h5
*.zip
models/
checkpoints/
ppo_piper_real_task* # 这能精准拦截你代码里保存的那个模型文件

# 3. 忽略虚拟环境（如果你在项目里建了本地虚拟环境的话）
venv/
.venv/
env/